@define-color fg #ebdbb2;
@define-color base-bg #282828;
@define-color bg #32302f;
@define-color bg-2 #504945;

@define-color background            #282828;
@define-color hard_background       #1B1B1B;
@define-color second_background     #45403D;
@define-color foreground            #EBDBB2;
@define-color selection_foreground  #D8A657;
@define-color selection_background  #3c3836;
@define-color color_blue            #7DAEA3;
@define-color color_green           #A9B665;
@define-color color_yellow          #D8A657;
@define-color color_red        	    #EA6962;
@define-color color_purple          #d3869B;
@define-color color_aqua            #89B482;
@define-color color_grey            #7C6F64;
@define-color color_white           #A89984;

* {
  border: none;
  font-family: JetBrains Mono Nerd Font;
  font-size: 14px;
  border-radius: 0px;
  margin: 0;
  padding: 0px;
}

/* The whole bar */
window#waybar {
    background-color: @background;
    color: @foreground;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: @hard_background;
}

/* Tooltip */
tooltip {
    background-color: #282828;
    color: #f0dcb4;       
    border: 1px solid #ebdbb2;
    border-radius: 6px;   
    padding: 6px;         
    font-size: 14px;      
}
tooltip label {
    font-size: 12px;
    color: #f0dcb4;
}

/* ========== LEFT MODULES ========== */

/* Seperator (spacer) */
#custom-seperator {
  padding: 0 5px;
}

/* Workspaces */
#workspaces button {
    color: @foreground;
    padding: 0 5px;
}
#workspaces button:hover,
#workspaces button.active,
#workspaces button.active:hover {
    color: #000000;
    background-color: @color_red;
}

/* Window title */
#window {
  /* background-color: @background; */
  padding-left: 15px;
  padding-right: 15px;
}

/* MPRIS (media player) */
#mpris {
    background-color: @bg-2;
    padding-left: 15px;
    padding-right: 15px;
}

/* ========== CENTER MODULES ========== */
/* (none) */

/* ========== RIGHT MODULES ========== */

/* Bluetooth */
#custom-fcitx5-lang {
    padding-right: 15px;
}

#bluetooth {
    padding-right: 15px;
}

/* Network */
#network {
    padding-right: 15px;
}

/* Wireplumber (audio) */
#wireplumber {
    padding-right: 15px;
}

/* Clock */
#clock {
  background-color: @background;
  color: @color_red;
  padding-right: 15px;
  padding-left: 15px;
}

/* Battery */
#battery { 
    padding-right: 10px;
}

/* Custom Battery */
#cutsom-battery { 
    padding-right: 10px;
    padding-left: 10px;
}
/* Input Method */
#input-method {
  padding-left: 10px;
  padding-right: 10px;
  background-color: @bg-2;
}

/* ========== UNUSED / EXTRA ========== */

#language,
#tray,
#keyboard-state,
#idle_inhibitor {
  padding: 5px;
  margin: 0px;
}

#pulseaudio {
  padding-right: 15px;
}

#cava {
  padding: 5px 15px;
}

#custom-updates {
  padding-right: 15px;
}

#custom-power {
  padding-right: 20px;
  background-color: @bg-2;
}
#idle_inhibitor {
  padding-left: 15px;
  padding-right: 10px;
  background-color: @bg-2;
}
